# Ignorar ambientes virtuais
.venv/
venv/
env/
__pycache__/

# Ignorar os pesos da IA (MUITO IMPORTANTE)
*.pt
*.pth
checkpoints/
models/

# Ignorar imagens de teste
test_images/
*.jpg
*.png
!sam2/logosemescrita.png
!sam2/logosemfundo.png